@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto&family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto&family=Ubuntu&family=Varela+Round&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: peachpuff;
} 

nav{
    background-color: black;
    height: 90px;
    font-family:'Ubuntu', 'sans-serif';
    /* height: 11vh; */
}

nav ul{
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.brand{
    color: white;
    display: flex;
    align-items: center;
    margin-right: 32px;
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: 700;
}

.brand img{
    width: 48px;
    margin-right: 8px;
}

.nav-item{
    color: white;
    list-style: none;
    margin: 16px;
}

.nav-item-rest{
    font-weight: 500;
    margin-left: 6%;
    font-size: 1.3rem;
}

.search{
    width: 50%;
}

.search input{
    margin-left: 7%;
    box-sizing: border-box;
    padding: 20px;
    width: 80%;
    height: 35px;
    border-radius: 100px;
    border: 2px solid blue;
}



/* Middle Container */
.music-container{
    height: 70vh;
    font-family: 'Varela Round';
    background-color: black;
    color: white;
    width: 70%;
    margin: 2% auto;
    padding: 10px 16px;
    border-radius: 12px;
    background-image: url('bg.jpg');
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    display: flex;
}

.songList-container{
    margin-top: 40px;
    height: 72%;
    width: 100%;
    overflow: auto;
}

.songList-container::-webkit-scrollbar {
    display: none;
  }

.songitems{
    background-color: white;
    height: 48px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 34px;
    margin-top: 8px;
}

.songitems img{
    width: 32px;
    height: 32px;
    margin-left: 16px;
    border-radius: 34px;
}

.timespam{
    margin-right: 16px;
}
.timespam i{
    cursor: pointer;
}




 /* Bottom Conatiner */
.bottom{
    background-color: black;
    height: 118px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 15vh; */
}

#myProgressBar{
    width: 80vw;
    margin-bottom: 16px;
}

.icons i{
    margin: 0 3px;
    cursor: pointer;
}